/* Header */
.App-header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 28px 0 28px;
    box-shadow: 0 4px 8px 0 #00000010, 0 6px 20px 0 #00000010;

}

#logo-styling {
    width: 250px;
}