.form-div {
    text-align: center;
}

#booking-modal {
    margin-top: 5%;
    text-align: left;
}


.label-title-styling {
    font-size: 28px;
    color: #00163B;
    padding-right: 5%;
}

.btn-group {
    margin: 2%;
}

.btn-group button {
    display: inline-block;
    border: 1px solid #385C7F;
    font-size: 24px;
    padding: 8px 8px;
    text-align: center;
    cursor: pointer;
}

#active-roomtype {
    background: #385C7F;
    color: white;
    width: 280px;
    font-weight: 700;
    border-radius: 6px;
}

#active-roomtype:hover {
    background-color: #577FA7;
}

.btn-group input {
    display: inline-block;
    border: 1px solid #385C7F;
    font-size: 24px;
    padding: 8px 8px;
    width: 280px;
    text-align: center;
    cursor: pointer;
    color: #385C7F;
}

#last-btn-group {
    margin-bottom: 10%;
}

#label-title-styling-2 {
    margin-right: 59px;
}

#label-title-styling-3 {
    margin-right: 82.5px;
    text-decoration: none;
}


input:focus::placeholder {
    color: transparent;
}

input:hover::placeholder {
    font-weight: 600;
}

.input-styling {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.input-styling::placeholder {
    color: #385C7F;
}

.select {
    border: 1px solid #385C7F;
    background: #385C7F;
    color: white;
    font-weight: 400;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

}

.select:hover {
    background-color: #577FA7;
}

.input-styling:hover {
    background-color: #F2F2F2;
}

.room-attribute {
    margin: 2%;
}

.room-attribute-title {
    font-weight: 600;
    font-size: 26px;
    font-weight: 500;
    color: #00163B;

}

.room-attribute-labels {
    font-size: 20px;
    margin: 2% 0;
}

.room-attribute-labels input {
    font-size: 20px;
/*     width: 18px; */
    height: 18px;
    width: 280px;
    padding: 8px 8px;
    border: 1px solid #385C7F;
    border-radius: 6px;
}

#kvm-input {
    margin-left: 48.5px;
}

#seating-input {
    margin-left: 52.5px;
}



#save-button {
    background-color: #385C7F;
    border: none;
    border-radius: 14px;
    color: white;
    line-height: 51px;
    font-weight: 700;
    height: auto;
    margin: 5% 0 0 32%;
    width: 262px;
    height: 60px;
}

#save-button:hover {
    background-color: #577FA7;
    cursor: pointer;
}