.label-title-styling {
    font-size: 28px;
    color: #00163B;
}

.btn-group button {
    display: inline-block;
    border: 1px solid #385C7F;
    font-size: 24px;
    padding: 8px 66px;
    text-align: center;
    cursor: pointer;
}

#inactive-roomtype {
    background: #ffffff;
    color: #385C7F;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#active-roomtype {
    background: #385C7F;
    color: white;
    font-weight: 700;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#active-roomtype:hover {
    background-color: #577FA7;
}

#inactive-roomtype:hover {
    background-color: #385C7F;
    color: white;
}

.btn-group input {
    display: inline-block;
    border: 1px solid #385C7F;
    font-size: 24px;
    padding: 8px 66px;
    text-align: center;
    cursor: pointer;
}

.label-title-styling {
    margin: 0 0.5% 0 0;
}

.input-styling {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.input-styling::placeholder {
    color: #385C7F;
}

#select {
    background: #385C7F;
    color: white;
    font-weight: 400;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#select:hover {
    background-color: #577FA7;
}

.input-styling:hover {
    background-color: #F2F2F2;
}

#room-attribute-title {
    font-size: 22px;
    font-weight: 500;
    /* display: flex; */
    color: #00163B;

}

.room-attributes {
    font-size: 20px;
    margin-left: 1%;
    margin-top: 1%;
    padding: 3px 16px;
}

.room-attributes-active {
    color: white;
    background: #385C7F;
    border: 1px solid #385C7F;
    border-radius: 6px;
}

.room-attributes-inactive {
    color: #385C7F;
    background: white;
    border: 1px solid #385C7F;
    border-radius: 6px;
}

.room-attributes-inactive:hover {
    background: #385C7F;
    color: white;
    cursor: pointer;
}

.room-attributes-active:hover {
    color: #385C7F;
    background: white;
    cursor: pointer;
}

#save-button {
    background-color: #385C7F;
    border: none;
    border-radius: 14px;
    color: white;
    width: 362px;
    line-height: 51px;
    font-weight: 700;
    height: auto;
    margin-top: 5%;
}

#save-button:hover {
    background-color: #577FA7;
    cursor: pointer;
}