#booking-button {
    box-sizing: border-box;
    background-color: #385C7F;
    border: none;
    border-radius: 11px;
    font-size: 42px;
    color: white;
    width: 362px;
    height: auto;
}

#booking-button:hover {
    background-color: #577FA7;
    cursor: pointer;
}

#header-booking-button{
    background-color: #385C7F;
    border: none;
    border-radius: 11px;
    color: white;
    width: 362px;
    height: auto;
    margin-top: 5%;
}

#active-roomtype{
    background: #385C7F;
    border: 1px solid #385C7F;
    border-radius: 6px;
    font-size: 24px;
    color: white;
  }
  
  #inactive-roomtype{
  /*   background: #385C7F; */
    border: 1px solid #385C7F;
    border-radius: 6px;
    font-size: 24px;
    color: #385C7F;
  }

  #inactive-roomtype:hover{
    color: white;
    background: #385C7F;
  }

.room-attributes{
    font-size: 20px;
    margin-left: 1%;
    margin-top: 1%;
}

.room-attributes-active{
    color: white;
    background: #385C7F;
    border: 1px solid #385C7F;
    border-radius: 6px;
}
.room-attributes-inactive{
    color: #385C7F;
    background: white;
    border: 1px solid #385C7F;
    border-radius: 6px;
}
.room-attributes-inactive:hover{
    background: #385C7F;
    color:white;
    
}


#booking-modal button{
    cursor: pointer;
}
#booking-modal button:hover{
    font-weight: 600;
}