/* Header */
.App-header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 28px 0 28px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}

/* Logo */
#logo-styling {
    width: 250px;
}

/* Menu */
.navbar-buttons button {
    background: none;
    border: none;
    color: #00163B;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0 25px 57px;
}

.navbar-buttons button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#overview-button {
    cursor: pointer;
    border-bottom: 4px solid #00163B;
}


#header-room-button:hover {
    border-bottom: 4px solid #00163B;
}

#header-logout-button:hover {
    border-bottom: 4px solid #00163B;
}