#log-off-modal {
    inset: 0 !important;
    text-align: center;
    background: #00163B !important;

}

.logo-login {
    display: flex;
    justify-content: center;
    margin: 10% 0 0 0;
    color: #ffffff;
}

#login-styling {
    width: 300px;
}

#log-off-text {
    margin-top: 5%;
    color: #ffffff;
}

#login-button {
    background-color: #ff9900;
    border: none;
    border-radius: 14px;
    color: white;
    width: 362px;
    line-height: 51px;
    font-weight: 700;
    height: auto;
    margin-top: 3%;
}

#login-button:hover {
    background-color: #577FA7;
    cursor: pointer;
}