.App-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overview-text {
    width: 565px;
    height: auto;
    margin: 2% 0;
    border-radius: 29px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
}

.profil {
    display: flex;
    align-items: center;
    margin: 40px 0 36px 32px;
}

.profil-styling {
    height: 49px;
    margin-right: 31px;
}

.calender-styling {
    height: 49px;
    margin-right: 25px;
}

.my-bookings {
    display: flex;
    align-items: center;
    margin: 0 0 0 27px;
}

.my-bookings h3 {
    font-weight: 700;
}

.overview-text p {
    font-style: italic;
}

#no-bookings-text {
    text-align: left;
    margin: 10px 0 10px 27px;
}


#booking-button {
    margin: 5%;
    box-sizing: border-box;
    background-color: #385C7F;
    border: none;
    border-radius: 11px;
    font-size: 32px;
    line-height: 51px;
    font-weight: 700;
    color: white;
    width: 262px;
    height: 60px;
}

#booking-button:hover {
    background-color: #577FA7;
    cursor: pointer;
}