#info-styling {
    width: 35px;
    position: absolute;
    right: 2%;
    margin-top: 1.5%;
}

#info-styling:hover{
    cursor: pointer;
}

.overview {
    display: flex;
    justify-content: center;
}

#info-span{
    font-weight: 600;
}

.information-button{
    text-align: center;
}

#info-modal-style{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.icon-left{
    float: left;
}

.information-text-div p{
    margin-bottom: 5%;
}

