#info-styling {
    width: 35px;
    position: absolute;
    right: 2%;
    margin-top: 3%;
}

#info-styling:hover{
    cursor: pointer;
}

.overview {
    display: flex;
    justify-content: center;
}